{# app/Resources/views/product/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Product {{ product.name }}{% endblock %}

{% block body %}
        <h2>{{ product.name }}</h2>
        <p>{{ product.price }}</p>
{% endblock %}